<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<tabitems>
		<item>
			<title>Управление плагинами</title>
			<subitems>
				<subitem>
					<subitemtitle>Управление плагинами</subitemtitle>
					<subsection>portal</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
	</tabitems>
</menu>