<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<tabitems>
		<item>
			<title>Tools</title>
			<subitems>
				<subitem>
					<subitemtitle>Tools</subitemtitle>
					<subitemlang>idm_tools</subitemlang>
					<subsection>tools</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
		<item>
			<title>Bulk Import from Directory</title>
			<subitems>
				<subitem>
					<subitemtitle>Bulk Import from Directory</subitemtitle>
					<subitemlang>idm_bulkdir</subitemlang>
					<subsection>bulkimport</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
		<item>
			<title>Bulk Import from Zip File</title>
			<subitems>
				<subitem>
					<subitemtitle>Bulk Import from Zip File</subitemtitle>
					<subitemlang>idm_bulkzip</subitemlang>
					<subsection>bulkimport</subsection>
					<subitemurl>do=bulkZip</subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
	</tabitems>
</menu>